{% extends 'base.html.twig' %}

{% block title %}{{ instrumentation.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ instrumentation.name }}</h1>

	<p>{{ instrumentation.note }}</p>

	<ul class="list-inline">
		<li class="list-inline-item">
			<a href="{{ path('instrumentation_index') }}" class="btn btn-secondary"><i class="fa fa-list"></i></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('instrumentation_edit', { 'id': instrumentation.id }) }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}