	{{ form_start(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.translation) }}
		{{ form_row(form.movements) }}
		{{ form_row(form.parts, {'attr': {'class' : 'dropzone', 'data-upload-uri': path('ajax_upload', {'target': form.parts.vars.id})}}) }}
		<div class="row">
			{{ form_row(form.composers, {'row_attr': {'class': 'col-md-6 col-sm-12'}}) }}
			{{ form_row(form.arrangers, {'row_attr': {'class': 'col-md-6 col-sm-12'}}) }}
		</div>
		<div class="row">
			{{ form_row(form.instrumentation, {'row_attr': {'class': 'col-md-4 col-sm-12'}}) }}
			{{ form_row(form.type, {'row_attr': {'class': 'col-md-5 col-sm-12'}}) }}
			{{ form_row(form.size, {'row_attr': {'class': 'col-md-3 col-sm-12'}}) }}
		</div>
		<div class="row">
			{{ form_row(form.location, {'row_attr': {'class': 'col-lg-4 col-md-6 col-sm-12'}}) }}
			<fieldset class="col-lg-8 col-md-6 col-sm-12">
				{{ form_label(form.states, null, {'label_attr': {'class' : 'p-0 mb-2'}}) }}
				{%- set style = (not piece.hasState(enum_value('App\\Config\\State', 'VERIFIED')) ? 'danger' : (piece.states != 7 ? 'warning' : 'success')) -%}
				{% do form.states.setRendered %}
				<div id="{{ form.states.vars.id }}" class="btn-group" role="group">
					{% for i,choice in form.states %}
					<input type="checkbox" name="{{ choice.vars.full_name }}" value="{{ choice.vars.value }}" id="{{ choice.vars.id }}" class="btn-check"{% if choice.vars.checked is same as true %} checked="checked"{% endif %} />
					<label for="{{ choice.vars.id }}" class="btn btn-outline-{{ style }}">{{ choice.vars.label|trans }}</label>
					{#{{ form_widget(choice, {'attr': {'class': 'btn-check'}, 'label_attr': {'class': 'btn btn-outline-primary'}}) }}#}
					{% endfor %}
				</div>
			</fieldset>
		</div>
		{{ form_row(form.missings) }}
		<div class="row">
			{{ form_row(form.publisher, {'row_attr': {'class': 'col-md-5 col-sm-12'}}) }}
			{{ form_row(form.year, {'row_attr': {'class': 'col-md-3 col-sm-12'}}) }}
			{{ form_row(form.reference, {'row_attr': {'class': 'col-md-4 col-sm-12'}}) }}
		</div>
		{{ form_row(form.note) }}
		<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
	{{ form_end(form) }}