{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.piece.index.heading'|trans }}</h1>

	<form class="table-responsive">
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th colspan="8">
						{% set page = app.request.query.get('page', 1) %}
						{% include 'pagination.html.twig' with {'page': page, 'nbPages': nbPages, 'objectName': 'piece'} %}
					</th>
				</tr>
				<tr>
					<th><i class="fa fa-sort{% if (app.request.query.get('field') in ['id', null]) %}-{{ app.request.query.get('direction', 'asc') }}{% endif %}"></i> <a href="{{ path('piece_index', app.request.query|merge({'field': 'id', 'direction': ((not app.request.query.get('field') == 'id' or app.request.query.get('field') == 'id' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}">{{ 'app.fields.id'|trans }}</a></th>
					<th><i class="fa fa-sort{% if (app.request.query.get('field') == 'name') %}-{{ app.request.query.get('direction') }}{% endif %}"></i> <a href="{{ path('piece_index', app.request.query|merge({'field': 'name', 'direction': ((app.request.query.get('field') == 'name' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}">{{ 'app.fields.piece.name'|trans }}</a>
						(<i class="fa fa-sort{% if (app.request.query.get('field') == 'translation') %}-{{ app.request.query.get('direction') }}{% endif %}"></i> <a href="{{ path('piece_index', app.request.query|merge({'field': 'translation', 'direction': ((app.request.query.get('field') == 'translation' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}">{{ 'app.fields.piece.translation'|trans }}</a>)</th>
					<th><i class="fa fa-sort{% if (app.request.query.get('field') == 'composer') %}-{{ app.request.query.get('direction') }}{% endif %}"></i> <a href="{{ path('piece_index', app.request.query|merge({'field': 'composer', 'direction': ((app.request.query.get('field') == 'composer' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}">{{ 'app.fields.piece.composers'|trans }}</a></th>
					<th><i class="fa fa-sort{% if (app.request.query.get('field') == 'arranger') %}-{{ app.request.query.get('direction') }}{% endif %}"></i> <a href="{{ path('piece_index', app.request.query|merge({'field': 'arranger', 'direction': ((app.request.query.get('field') == 'arranger' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}">{{ 'app.fields.piece.arrangers'|trans }}</a></th>
					<th><i class="fa fa-sort{% if (app.request.query.get('field') == 'publisher') %}-{{ app.request.query.get('direction') }}{% endif %}"></i> <a href="{{ path('piece_index', app.request.query|merge({'field': 'publisher', 'direction': ((app.request.query.get('field') == 'publisher' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}">{{ 'app.fields.piece.publisher'|trans }}</a><br />
						(<i class="fa fa-sort{% if (app.request.query.get('field') == 'year') %}-{{ app.request.query.get('direction') }}{% endif %}"></i> <a href="{{ path('piece_index', app.request.query|merge({'field': 'year', 'direction': ((app.request.query.get('field') == 'year' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}">{{ 'app.fields.piece.year'|trans }}</a>)</th>
					<th>{{ 'app.fields.piece.last_played'|trans }}</th>
					<th class="text-center"><button type="button" class="btn btn-sm btn-info"data-toggle="modal" data-target="#Help"><i class="fa fa-info-circle"></i></button>
						<a href="{{ path('piece_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a></th>
				</tr>
				<tr>
					<th><input type="number" name="q[id]" class="form-control" placeholder="{{ 'app.fields.id'|trans }}"{% if app.request.get('q')['id'] is defined %} value="{{ app.request.get('q')['id'] }}"{% endif %} maxlength="4" min="1" style="width: 5em;" /></th>
					<th><input type="text" name="q[name]" class="form-control" placeholder="{{ 'app.fields.piece.name'|trans }}"{% if app.request.get('q')['name'] is defined %} value="{{ app.request.get('q')['name'] }}"{% endif %} /></th>
					<th><input type="text" name="q[composer]" class="form-control" placeholder="{{ 'app.fields.piece.composers'|trans }}"{% if app.request.get('q')['composer'] is defined %} value="{{ app.request.get('q')['composer'] }}"{% endif %} /></th>
					<th><input type="text" name="q[arranger]" class="form-control" placeholder="{{ 'app.fields.piece.arrangers'|trans }}"{% if app.request.get('q')['arranger'] is defined %} value="{{ app.request.get('q')['arranger'] }}"{% endif %} /></th>
					<th></th>
					<th></th>
					<th class="text-center"><button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-filter"></i></button>
					 	<a href="{{ path('piece_index') }}" class="btn btn-sm btn-light"><i class="fa fa-refresh"></i></a></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>{{ 'app.fields.id'|trans }}</th>
					<th>{{ 'app.fields.piece.name'|trans }}
						({{ 'app.fields.piece.translation'|trans }})</th>
					<th>{{ 'app.fields.piece.composers'|trans }}</th>
					<th>{{ 'app.fields.piece.arrangers'|trans }}</th>
					<th>{{ 'app.fields.piece.publisher'|trans }}<br />
						({{ 'app.fields.piece.year'|trans }})</th>
					<th>{{ 'app.fields.piece.last_played'|trans }}</th>
					<th class="text-center"><a href="{{ path('piece_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i><span class="sr-only">{{ 'global.action.new'|trans }}</span></a></th>
				</tr>
				<tr>
					<th colspan="8">
						{% include 'pagination.html.twig' with {'page': page, 'nbPages': nbPages, 'objectName': 'piece'} %}
					</th>
				</tr>
			</tfoot>
			<tbody>
			{% for piece in pieces %}
				<tr{% if not piece.hasState(constant('STATE_VERIFIED', piece)) %} class="table-danger text-danger"
					{%- elseif piece.location in [constant('LOCATION_LOST', piece), constant('LOCATION_RETURNED', piece)] %} class="table-secondary text-muted"
					{%- elseif piece.location == constant('LOCATION_LENT', piece) %} class="text-muted"
					{%- elseif piece.missings|length or piece.states > 1 and piece.states < 7 %} class="table-warning text-warning"
					{%- elseif piece.location is null %} class="table-info text-info"
					{%- elseif piece.location == constant('LOCATION_SHELF', piece) %} class="table-success text-success"
					{%- endif %}>
					<td><a href="{{ path('piece_show', { 'id': piece.id }) }}">{{ piece.id }}</a></td>
					<td><a href="{{ path('piece_show', { 'id': piece.id }) }}">{{ piece.name }}</a>
						{%- if piece.translation %}<br />
						({{ piece.translation }})
						{%- endif -%}
						</td>
					<td>{{ piece.composers|join(', ') }}</td>
					<td>{{ piece.arrangers|join(', ') }}</td>
					<td>{{ piece.publisher }}{% if piece.year %} ({{ piece.year }}){% endif %}</td>
					<td{% if not piece.concerts.isEmpty %} title="{{ piece.concerts.first.date|date('Y-m-d') }}">
							{{- piece.concerts.first.date|date('Y') }}
							{%- else -%}>
							<i>{{ 'app.piece.index.last_played.unknown'|trans }}</i>
							{%- endif %}</td>
					<td class="text-center">
						<a href="{{ path('piece_show', { 'id': piece.id }) }}" class="btn btn-sm btn-outline-info"><i class="fa fa-eye"></i><span class="sr-only">{{ 'global.action.show'|trans }}</span></a>
						<a href="{{ path('piece_edit', { 'id': piece.id }) }}" class="btn btn-sm btn-outline-warning" class="btn btn-warning"><i class="fa fa-pencil"></i><span class="sr-only">{{ 'global.action.edit'|trans }}</span></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
	<div class="modal fade" id="Help">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{{ 'app.piece.index.modal.title'|trans }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-sm table-hover">
						<tr class="table-secondary text-muted">
							<td>
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_LOST'))|trans }}<br />
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_RETURNED'))|trans }}
							</td>
						</tr>
						<tr class="text-muted">
							<td class="text-muted">
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_LENT'))|trans }}
							</td>
						</tr>
						<tr>
							<td class="table-danger text-danger">
								{{ ('app.fields.piece.states.not.' ~ constant('App\\Entity\\Piece::STATE_VERIFIED'))|trans }}
							</td>
						</tr>
						<tr>
							<td class="table-warning text-warning">
								{{ ('app.fields.piece.states.not.' ~ constant('App\\Entity\\Piece::STATE_COLOURED'))|trans }}<br />
								{{ ('app.fields.piece.states.not.' ~ constant('App\\Entity\\Piece::STATE_STAMPED'))|trans }}<br />
								{{ 'app.piece.index.modal.status_incomplete'|trans }}
							</td>
						</tr>
						<tr>
							<td class="table-info text-info">
								{{ 'app.fields.piece.location.placeholder'|trans }}
							</td>
						</tr>
						<tr>
							<td class="table-success text-success">
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_SHELF'))|trans }}
							</td>
						</tr>
						<tr>
							<td>
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_SERVER'))|trans }}<br />
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_STOWED'))|trans }}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
