{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.piece.index.heading'|trans }}</h1>

	<form class="table-responsive">
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th colspan="8">
						{% set page = app.request.query.get('page', 1) %}
						{% include 'pagination.html.twig' with {'page': page, 'nbPages': nbPages, 'objectName': 'piece'} %}
					</th>
				</tr>
				<tr>
					<th><i class="fas fa-sort{% if (app.request.query.get('field') in ['id', null]) %}-{{ app.request.query.get('direction', 'asc') }}{% endif %}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.info.sorted.' ~ app.request.query.get('direction', 'asc'))|trans }}</span>
						<a href="{{ path('piece_index', app.request.query|merge({'field': 'id', 'direction': ((not app.request.query.get('field') == 'id' or app.request.query.get('field') == 'id' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}" title="{{ ('global.action.sort.' ~ ((app.request.query.get('direction') in ['asc', null]) ? 'desc' : 'asc'))|trans({'field': ('app.fields.id'|trans|lower)}) }}">{{ 'app.fields.id'|trans }}</a></th>
					<th><i class="fas fa-sort{% if (app.request.query.get('field') == 'name') %}-{{ app.request.query.get('direction') }}{% endif %}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.info.sorted.' ~ ((app.request.query.get('field') == 'name') ? app.request.query.get('direction') : 'none'))|trans }}</span>
						<a href="{{ path('piece_index', app.request.query|merge({'field': 'name', 'direction': ((app.request.query.get('field') == 'name' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}" title="{{ ('global.action.sort.' ~ ((app.request.query.get('direction') == 'asc') ? 'desc' : 'asc'))|trans({'field': ('app.fields.piece.name'|trans|lower)}) }}">{{ 'app.fields.piece.name'|trans }}</a>
						(<i class="fas fa-sort{% if (app.request.query.get('field') == 'translation') %}-{{ app.request.query.get('direction') }}{% endif %}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.info.sorted.' ~ ((app.request.query.get('field') == 'translation') ? app.request.query.get('direction') : 'none'))|trans }}</span>
						<a href="{{ path('piece_index', app.request.query|merge({'field': 'translation', 'direction': ((app.request.query.get('field') == 'translation' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}" title="{{ ('global.action.sort.' ~ ((app.request.query.get('direction') == 'asc') ? 'desc' : 'asc'))|trans({'field': ('app.fields.piece.translation'|trans|lower)}) }}">{{ 'app.fields.piece.translation'|trans }}</a>)</th>
					<th><i class="fas fa-sort{% if (app.request.query.get('field') == 'composer') %}-{{ app.request.query.get('direction') }}{% endif %}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.info.sorted.' ~ ((app.request.query.get('field') == 'composer') ? app.request.query.get('direction') : 'none'))|trans }}</span>
						<a href="{{ path('piece_index', app.request.query|merge({'field': 'composer', 'direction': ((app.request.query.get('field') == 'composer' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}" title="{{ ('global.action.sort.' ~ ((app.request.query.get('direction') == 'asc') ? 'desc' : 'asc'))|trans({'field': ('app.fields.piece.composers'|trans|lower)}) }}">{{ 'app.fields.piece.composers'|trans }}</a></th>
					<th><i class="fas fa-sort{% if (app.request.query.get('field') == 'arranger') %}-{{ app.request.query.get('direction') }}{% endif %}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.info.sorted.' ~ ((app.request.query.get('field') == 'arranger') ? app.request.query.get('direction') : 'none'))|trans }}</span>
						<a href="{{ path('piece_index', app.request.query|merge({'field': 'arranger', 'direction': ((app.request.query.get('field') == 'arranger' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}" title="{{ ('global.action.sort.' ~ ((app.request.query.get('direction') == 'asc') ? 'desc' : 'asc'))|trans({'field': ('app.fields.piece.arrangers'|trans|lower)}) }}">{{ 'app.fields.piece.arrangers'|trans }}</a></th>
					<th><i class="fas fa-sort{% if (app.request.query.get('field') == 'publisher') %}-{{ app.request.query.get('direction') }}{% endif %}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.info.sorted.' ~ ((app.request.query.get('field') == 'publisher') ? app.request.query.get('direction') : 'none'))|trans }}</span>
						<a href="{{ path('piece_index', app.request.query|merge({'field': 'publisher', 'direction': ((app.request.query.get('field') == 'publisher' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}" title="{{ ('global.action.sort.' ~ ((app.request.query.get('direction') == 'asc') ? 'desc' : 'asc'))|trans({'field': ('app.fields.piece.publisher'|trans|lower)}) }}">{{ 'app.fields.piece.publisher'|trans }}</a><br />
						(<i class="fas fa-sort{% if (app.request.query.get('field') == 'year') %}-{{ app.request.query.get('direction') }}{% endif %}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.info.sorted.' ~ ((app.request.query.get('field') == 'year') ? app.request.query.get('direction') : 'none'))|trans }}</span>
						<a href="{{ path('piece_index', app.request.query|merge({'field': 'year', 'direction': ((app.request.query.get('field') == 'year' and app.request.query.get('direction') == 'asc') ? 'desc' : 'asc')})) }}" title="{{ ('global.action.sort.' ~ ((app.request.query.get('direction') == 'asc') ? 'desc' : 'asc'))|trans({'field': ('app.fields.piece.year'|trans|lower)}) }}">{{ 'app.fields.piece.year'|trans }}</a>)</th>
					<th>{{ 'app.fields.piece.last_played'|trans }}</th>
					<th class="text-center"><button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#Help"><i class="fas fa-question-circle" title="{{ 'global.info.help'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.info.help'|trans }}</span></button>
						<a href="{{ path('piece_new') }}" class="btn btn-sm btn-success"><i class="fas fa-plus" title="{{ 'global.action.new'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.new'|trans }}</span></a></th>
				</tr>
				<tr>
					<th><label for="SearchId" class="visually-hidden">{{ 'app.fields.id'|trans }}</label><input type="number" name="q[id]" id="SearchId" class="form-control px-1" placeholder="{{ 'app.fields.id'|trans }}"{% if app.request.get('q')['id'] is defined %} value="{{ app.request.get('q')['id'] }}"{% endif %} maxlength="4" min="0" style="width: 4em;" /></th>
					<th><label for="SearchName" class="visually-hidden">{{ 'app.fields.piece.name'|trans }}</label><input type="text" name="q[name]" id="SearchName" class="form-control" placeholder="{{ 'app.fields.piece.name'|trans }}"{% if app.request.get('q')['name'] is defined %} value="{{ app.request.get('q')['name'] }}"{% endif %} /></th>
					<th><label for="SearchComposer" class="visually-hidden">{{ 'app.fields.piece.composers'|trans }}</label><input type="text" name="q[composer]" id="SearchComposer" class="form-control" placeholder="{{ 'app.fields.piece.composers'|trans }}"{% if app.request.get('q')['composer'] is defined %} value="{{ app.request.get('q')['composer'] }}"{% endif %} /></th>
					<th><label for="SearchArranger" class="visually-hidden">{{ 'app.fields.piece.arrangers'|trans }}</label><input type="text" name="q[arranger]" id="SearchArranger" class="form-control" placeholder="{{ 'app.fields.piece.arrangers'|trans }}"{% if app.request.get('q')['arranger'] is defined %} value="{{ app.request.get('q')['arranger'] }}"{% endif %} /></th>
					<th></th>
					<th></th>
					<th class="text-center"><button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-filter" title="{{ 'global.action.filter'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.filter'|trans }}</span></button>
						<a href="{{ path('piece_index') }}" class="btn btn-sm btn-light"><i class="fas fa-sync-alt" title="{{ 'global.action.reset'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.reset'|trans }}</span></a></th>
				</tr>
			</thead>
			<tfoot class="table-group-divider">
				<tr>
					<th>{{ 'app.fields.id'|trans }}</th>
					<th>{{ 'app.fields.piece.name'|trans }}
						({{ 'app.fields.piece.translation'|trans }})</th>
					<th>{{ 'app.fields.piece.composers'|trans }}</th>
					<th>{{ 'app.fields.piece.arrangers'|trans }}</th>
					<th>{{ 'app.fields.piece.publisher'|trans }}<br />
						({{ 'app.fields.piece.year'|trans }})</th>
					<th>{{ 'app.fields.piece.last_played'|trans }}</th>
					<th class="text-center"><a href="{{ path('piece_new') }}" class="btn btn-sm btn-success"><i class="fas fa-plus" title="{{ 'global.action.new'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.new'|trans }}</span></a></th>
				</tr>
				<tr>
					<th colspan="8">
						{% include 'pagination.html.twig' with {'page': page, 'nbPages': nbPages, 'objectName': 'piece'} %}
					</th>
				</tr>
			</tfoot>
			<tbody class="table-group-divider">
			{% for piece in pieces %}
				<tr{% if piece.location is null %} class="table-info text-info"
					{%- elseif piece.location == constant('LOCATION_LOST', piece) %} class="table-secondary"
					{%- elseif piece.location in [constant('LOCATION_LENT', piece), constant('LOCATION_RETURNED', piece)] %} class="text-muted"
					{%- elseif not piece.hasState(constant('STATE_VERIFIED', piece)) %} class="table-danger text-danger"
					{%- elseif piece.missings|length %} class="table-warning text-warning"
					{%- elseif piece.location == constant('LOCATION_SHELF', piece) and piece.hasAnyState(constant('STATE_STAMPED', piece) b-and constant('STATE_COLOURED', piece)) %} class="table-primary text-primary"
					{%- elseif piece.location == constant('LOCATION_SHELF', piece) and piece.states == 7 %} class="table-success text-success"
					{%- endif %}>
					<td><a href="{{ path('piece_show', {'id': piece.id}) }}">{{ piece.id }}</a>
						{%- if piece.location == constant('LOCATION_SERVER', piece) or piece.hasAnyState(constant('STATE_SCANNED', piece)) -%}
						<br />
						<a href="{{ path('piece_show', {'id': piece.id, '_fragment': 'Parts'}) }}" class="btn btn-sm btn-light"><i class="fas fa-file-download" title="{{ ('global.action.' ~ (is_granted('ROLE_DOWNLOAD') ? 'download' : 'show_parts'))|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ ('global.action.' ~ (is_granted('ROLE_DOWNLOAD') ? 'download' : 'show_parts'))|trans }}</span></a>
						{%- endif -%}
						</td>
					<td><a href="{{ path('piece_show', {'id': piece.id}) }}">{{ piece.name }}</a>
						{%- if piece.translation %}<br />
						({{ piece.translation }})
						{%- endif -%}
						</td>
					<td>{{ piece.composers|join(', ') }}</td>
					<td>{{ piece.arrangers|join(', ') }}</td>
					<td>{{ piece.publisher }}{% if piece.year %} ({{ piece.year }}){% endif %}</td>
					<td{% if not piece.concerts.isEmpty %} title="{{ piece.concerts.first.date|date('Y-m-d') }}">
						{{- piece.concerts.first.date|date('Y') }}
						{%- else -%}>
						<i>{{ 'app.piece.index.last_played.unknown'|trans }}</i>
						{%- endif -%}
						</td>
					<td class="text-center">
						<a href="{{ path('piece_show', {'id': piece.id}) }}" class="btn btn-sm btn-outline-info"><i class="fas fa-eye" title="{{ 'global.action.show'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.show'|trans }}</span></a>

						{% if is_granted('ROLE_USER') %}
						<div class="btn-group btn-group-sm">
							<div class="btn-group btn-group-sm dropstart" role="group">
								<button role="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" title="{{ 'global.action.quick'|trans }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="visually-hidden">{{ 'global.action.quick'|trans }}</span>
								</button>
								<div class="dropdown-menu">
									{% for location in static('LOCATIONS_LIST', piece) %}
									<a class="dropdown-item{{ piece.location == location ? ' active' }}" href="{{ path('piece_update', {'id': piece.id, 'location': location}) }}">{{ ('app.fields.piece.location.' ~ location)|trans }}</a>
									{% endfor %}
									<a class="dropdown-item{{ piece.location is null ? ' active' }}" href="{{ path('piece_update', {'id': piece.id, 'location': ''}) }}">{{ 'app.fields.piece.location.placeholder'|trans }}</a>
									<div class="dropdown-divider"></div>
									{%- for state in static('STATES_LIST', piece) -%}
									<a href="{{ path('piece_update', {'id': piece.id, 'states': {(state): piece.hasState(state) ? -1 : 1}}) }}" class="dropdown-item{{ piece.hasState(state) ? ' active' }}">
									{{- ('app.fields.piece.states.' ~ (piece.hasState(state) ? '' : 'not.') ~ state)|trans -}}
									</a>
									{% endfor %}
								</div>
							</div>
						{% endif -%}
							<a href="{{ path('piece_edit', {'id': piece.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.edit'|trans }}</span></a>
						{% if is_granted('ROLE_USER') %}
						</div>
						{% endif -%}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
	<div class="modal fade" id="Help">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{{ 'app.piece.index.modal.title'|trans }}</h5>
					<button role="button" class="btn-close" title="{{ 'global.action.close'|trans }}" data-bs-dismiss="modal" aria-label="{{ 'global.action.close'|trans }}"></button>
				</div>
				<div class="modal-body">
					<table class="table table-sm table-hover">
						<tr class="table-secondary">
							<td>
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_LOST'))|trans }}
							</td>
						</tr>
						<tr class="text-muted">
							<td>
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_RETURNED'))|trans }}<br />
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_LENT'))|trans }}
							</td>
						</tr>
						<tr class="table-info text-info">
							<td>
								{{ 'app.fields.piece.location.placeholder'|trans }}
							</td>
						</tr>
						<tr>
							<td>
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_SERVER'))|trans }}<br />
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_STOWED'))|trans }}
							</td>
						</tr>
						<tr class="table-danger text-danger">
							<td class="text-end">
								{{ ('app.fields.piece.states.not.' ~ constant('App\\Entity\\Piece::STATE_VERIFIED'))|trans }}
							</td>
						</tr>
						<tr class="table-warning text-warning">
							<td class="text-end">
								{{ 'app.piece.index.modal.status_incomplete'|trans }}
							</td>
						</tr>
						<tr class="table-primary text-primary">
							<td class="text-center">
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_SHELF'))|trans }} {{ ('app.fields.piece.states.not.' ~ constant('App\\Entity\\Piece::STATE_COLOURED'))|trans|lower }}<br />
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_SHELF'))|trans }} {{ ('app.fields.piece.states.not.' ~ constant('App\\Entity\\Piece::STATE_STAMPED'))|trans|lower }}
							</td>
						</tr>
						<tr class="table-success text-success">
							<td class="text-center">
								{{ ('app.fields.piece.location.' ~ constant('App\\Entity\\Piece::LOCATION_SHELF'))|trans }}
								{{ ('app.fields.piece.states.' ~ constant('App\\Entity\\Piece::STATE_VERIFIED'))|trans|lower }}
								{{ ('app.fields.piece.states.' ~ constant('App\\Entity\\Piece::STATE_COLOURED'))|trans|lower }}
								{{ ('app.fields.piece.states.' ~ constant('App\\Entity\\Piece::STATE_STAMPED'))|trans|lower }}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
