{% extends 'base.html.twig' %}

{% block title %}{{ 'app.piece.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ assets_host }}/select2/4.0.13/css/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ assets_host }}/select2-bootstrap-5-theme/1.3.0/select2-bootstrap-5-theme.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
	<h1>{{ 'app.piece.new.heading'|trans }}</h1>

	{{ include('piece/_form.html.twig', {'form': form}) }}

	<a href="{{ path('piece_index') }}" title="{{ 'global.action.list'|trans }}" class="btn btn-light float-end"><i class="fas fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i></a>
{% endblock %}

{% block javascripts %}
		<script src="{{ assets_host }}/select2/4.0.13/js/select2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{{ asset('js/entity_adder.js') }}"></script>
		<script src="{{ asset('js/collection_adder.js') }}"></script>
		<script src="{{ asset('js/dragndrop.js') }}"></script>
		<script src="{{ asset('js/ajaxify.js') }}"></script>
		<script>/*<[CDATA[*/
		$(function() {
			$('select.searchable').select2({
				theme: "bootstrap-5"
			});
		});
		/*]]>*/
		</script>
{% endblock %}