{% extends 'base.html.twig' %}

{% block title %}{{ piece.name }} | {{ parent() }}{% endblock %}

{% block body -%}
	<h1>{{ piece.name }}
		{% if piece.location in [constant('LOCATION_LENT', piece), constant('LOCATION_RETURNED', piece)] -%}
		<small><span class="badge bg-light text-muted">{{ ('app.fields.piece.location.' ~ piece.location)|trans }}</span></small>
		{%- elseif piece.location == constant('LOCATION_LOST', piece) -%}
		<span class="badge bg-dark">{{ ('app.fields.piece.location.' ~ piece.location)|trans }}</span>
		{%- endif %}
		{%- if piece.translation %}<br /><small>{{ piece.translation }}</small>{% endif %}</h1>

	<form action="{{ path('part_download') }}" class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<th>{{ 'app.fields.id'|trans }}</th>
					<td>{{ piece.id }}</td>
					<th>{{ 'app.fields.piece.last_played'|trans }}</th>
					<td>{% if not piece.concerts.isEmpty -%}
							{% set link_class = '' %}
							{% if piece.concerts.count() > 1 -%}
						<div class="btn-group">
								{%- set link_class = ' class="btn btn-secondary"' %}
							{% endif -%}
						<a href="{{ path('concert_show', {'id': piece.concerts.first.id}) }}"{{ link_class|raw }}>{{ piece.concerts.first.name }}
							({{ piece.concerts.first.date|date('Y-m-d') }})</a>
							{% if piece.concerts.count() > 1 -%}
							<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" title="{{ 'global.action.expand.list'|trans }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">{{ 'global.action.expand.list'|trans }}</span>
							</button>
							<div class="dropdown-menu">
								{% for concert in piece.concerts[1:] %}
								<a class="dropdown-item" href="{{ path('concert_show', {'id': concert.id}) }}">{{ concert.name }}
									({{ concert.date|date('Y-m-d') }})</a>
								{% endfor %}
							</div>
						</div>
							{% endif -%}
						{%- else -%}
						<i>{{ 'app.piece.show.last_played.unknown'|trans }}</i>
						{%- endif -%}
					</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.composers'|trans }}</th>
					<td colspan="3">{{ piece.composers|join(', ') }}</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.arrangers'|trans }}</th>
					<td colspan="3">{{ piece.arrangers|join(', ') }}</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.publisher'|trans }} ({{ 'app.fields.piece.year'|trans }})</th>
					<td>{{ piece.publisher }}{% if piece.year %} ({{ piece.year }}){% endif %}</td>
					<th>{{ 'app.fields.piece.reference'|trans }}</th>
					<td>{{ piece.reference }}</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.instrumentation'|trans }}</th>
					<td{%- if piece.instrumentation %} title="{{ piece.instrumentation.note }}">
						{{ piece.instrumentation.name }}
						{%- else -%}>
						{%- endif -%}
					</td>
					<th>{{ 'app.fields.piece.location.label'|trans }}</th>
					<td>
						{% if is_granted('ROLE_USER') -%}
						<div class="btn-group btn-group-sm">
							<span class="btn btn-link">
						{%- endif -%}

						{{ ('app.fields.piece.location.' ~ piece.location|default('placeholder'))|trans -}}

						{%- if is_granted('ROLE_USER') -%}</span>
							<button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" title="{{ 'global.action.quick'|trans }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">{{ 'global.action.quick'|trans }}</span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('piece_update', {'id': piece.id, 'location': null}) }}">{{ 'app.fields.piece.location.placeholder'|trans }}</a>
								{% for location in static('LOCATIONS_LIST', piece) %}
								<a class="dropdown-item{% if piece.location == location %} active{% endif %}" href="{{ path('piece_update', {'id': piece.id, 'location': location}) }}">{{ ('app.fields.piece.location.' ~ location)|trans }}</a>
								{% endfor %}
							</div>
						</div>
						{% endif -%}

						{%- if piece.location in [constant('LOCATION_LENT', piece), constant('LOCATION_RETURNED', piece)] and not piece.lendings.isEmpty %}
							({% if is_granted('ROLE_ADMIN') %}<a href="{{ path('lending_show', {'id': piece.lendings.first.id}) }}">{% endif %}
							{{- piece.lendings.first.band -}}
							{%- if is_granted('ROLE_ADMIN') %}</a>{% endif %})
						{% endif -%}

						{%- if piece.states != 0 and not (piece.location in [constant('LOCATION_SERVER', piece), constant('LOCATION_RETURNED', piece), constant('LOCATION_LOST', piece)]) %}
						{%- set style = (not piece.hasState(constant('STATE_VERIFIED', piece)) ? 'danger' : (piece.states != 7 ? 'warning' : 'success')) -%}
						{%- if is_granted('ROLE_USER') %} <span class="btn-group btn-group-sm btn-group-toggle" data-bs-toggle="buttons">{% else %} ({% endif -%}
						{%- for state in static('STATES_LIST', piece) -%}
							{%- if is_granted('ROLE_USER') %}<a href="{{ path('piece_update', {'id': piece.id, 'states': {(state): piece.hasState(state) ? -1 : 1}}) }}" class="{{ piece.hasState(state) ? 'active ' }}btn btn-{% else %}<span style="text-{%- endif -%}{{ style }}">
							{{- ('app.fields.piece.states.' ~ (piece.hasState(state) ? '' : 'not.') ~ state)|trans|lower -}}
							{%- if is_granted('ROLE_USER') %}</a>{%- elseif not loop.last and not is_granted('ROLE_USER') %}</span>, {% endif -%}
						{%- endfor %}
						{%- if is_granted('ROLE_USER') %}</span>{% else %}){% endif -%}
						{%- endif %}
					</td>
				</tr>
				{%- if not piece.missings.empty %}
				<tr>
					<th>{{ 'app.fields.piece.missings'|trans }}</th>
					<td colspan="3">
						{% for missing in piece.missings -%}
						<span class="text-danger">{{ missing.voice }}</span>{% if not loop.last %}, {% endif -%}
						{% endfor -%}
					</td>
				</tr>
				{%- endif %}
				{%- if piece.note is not empty %}
				<tr>
					<th>{{ 'app.fields.piece.note'|trans }}</th>
					<td colspan="3">{{ piece.note|nl2br }}</td>
				</tr>
				{%- endif %}
				<tr>
					<th>{{ 'app.fields.piece.created_at'|trans }}</th>
					<td colspan="3">{{ piece.createdAt|date('Y-m-d à H:i:s') }}</td>
				</tr>
				{% if (not piece.parts.isEmpty) %}
				<tr>
					<td colspan="4"><h3 id="Parts">{{ 'app.fields.piece.parts'|trans }}
						{%- if is_granted('ROLE_DOWNLOAD') -%}<small class="pull-right"><input type="checkbox" id="CheckAll{{ piece.id }}" class="check-all" data-target=".check-all-{{ piece.id }}"/> <label for="CheckAll{{ piece.id }}">{{ 'global.action.check_all'|trans }}</label> <button type="submit" class="btn btn-sm btn-info" title="{{ 'app.file.download_selected'|trans }}"><i class="fas fa-download" title="{{ 'app.file.download_selected'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'app.file.download_selected'|trans }}</span></button></small>{% endif %}</h3></td>
				</tr>
				<tr>
					{% for order, part in piece.parts %}
					<td>{% if part.file and is_granted('ROLE_DOWNLOAD') %}<input type="checkbox" name="ids[]" value="{{ part.id }}" id="Part{{ part.id }}" class="check-all-{{ piece.id }}" data-parent="#CheckAll{{ piece.id }}" />
						<a href="{{ path('part_download', {'ids': [part.id]}) }}" class="btn btn-sm btn-outline-info" download="{{ piece.id ~ '-' ~ part.downloadName }}"><i class="fas fa-download" title="{{ 'global.action.download'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.download'|trans }}</span></a>
						{%- endif %}
						<label for="Part{{ part.id }}">{{ part }}</label>
					</td>
						{% if (not loop.first and loop.index is divisible by(4)) %}
				</tr>
				<tr>
						{% endif %}
					{% endfor %}
					{% if (piece.parts|length is not divisible by(4)) %}
					<td colspan="{{ 4 - (piece.parts|length % 4) }}"></td>
					{% endif %}
				</tr>
				{% endif %}
				{% for i, movement in piece.movements %}
				<tr>
					<th colspan="4"><h2>{{ movement.name }}
						{%- if movement.translation %}<br /><small>{{ movement.translation }}</small>{% endif %}</h2></th>
				</tr>
				<tr>
					<th>{{ 'app.fields.id'|trans }}</th>
					<td>{{ movement.id }}</td>
					<th>{{ 'app.fields.piece.last_played'|trans }}</th>
					<td>{% if not movement.concerts.isEmpty -%}
						<a href="{{ path('concert_show', {'id': movement.concerts.first.id}) }}">{{ movement.concerts.first.name }}</a> ({{ movement.concerts.first.date|date('Y-m-d') }})
						{%- else -%}
						<i>{{ 'app.piece.show.last_played.unknown'|trans }}</i>
						{%- endif -%}
					</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.composers'|trans }}</th>
					<td colspan="3">{{ movement.composers|join(', ') }}</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.arrangers'|trans }}</th>
					<td colspan="3">{{ movement.arrangers|join(', ') }}</td>
				</tr>
				</tr>
					<th>{{ 'app.fields.piece.location.label'|trans }}</th>
					<td colspan="3">
						{% if is_granted('ROLE_USER') -%}
						<div class="btn-group btn-group-sm">
							<span class="btn btn-link">
						{%- endif -%}

							{{ ('app.fields.piece.location.' ~ movement.location|default('placeholder'))|trans -}}

						{%- if is_granted('ROLE_USER') -%}</span>
							<button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Déplacer</span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('piece_update', {'id': movement.id, 'location': null}) }}">{{ 'app.fields.piece.location.placeholder'|trans }}</a>
								{% for location in static('LOCATIONS_LIST', movement) %}
								<a class="dropdown-item{% if movement.location == location %} active{% endif %}" href="{{ path('piece_update', {'id': movement.id, 'location': location}) }}">{{ ('app.fields.piece.location.' ~ location)|trans }}</a>
								{% endfor %}
							</div>
						</div>
						{% endif -%}

						{%- if movement.location in [constant('LOCATION_LENT', movement), constant('LOCATION_RETURNED', movement)] %}
							({% if is_granted('ROLE_ADMIN') %}<a href="{{ path('lending_show', {'id': movement.lendings.first.id}) }}">{% endif %}
							{{- movement.lendings.first.band -}}
							{%- if is_granted('ROLE_ADMIN') %}</a>{% endif %})
						{% endif -%}

						{%- if movement.states != 0 and movement.location != constant('LOCATION_SERVER', movement) %}
						{%- set style = (not movement.hasState(constant('STATE_VERIFIED', movement)) ? 'danger' : (movement.states != 7 ? 'warning' : 'success')) -%}
						{%- if is_granted('ROLE_USER') %}<span class="btn-group btn-group-sm">{% else %}({% endif -%}
						{%- for state in static('STATES_LIST', piece) -%}
							{%- if is_granted('ROLE_USER') %}<a href="{{ path('piece_update', {'id': movement.id, 'states': {(state): movement.hasState(state) ? -1 : 1}}) }}" class="{{ movement.hasState(state) ? 'active ' }}btn btn-{% else %}<span style="text-{%- endif -%}{{ style }}">
							{{- ('app.fields.piece.states.' ~ (movement.hasState(state) ? '' : 'not.') ~ state)|trans|lower -}}
							{%- if is_granted('ROLE_USER') %}</a>{%- elseif not loop.last and not is_granted('ROLE_USER') %}</span>, {% endif -%}
						{%- endfor %}
						{%- if is_granted('ROLE_USER') %}</span>{% else %}){% endif -%}
						{%- endif %}
					</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.note'|trans }}</th>
					<td colspan="3">{{ movement.note|nl2br }}</td>
				</tr>
				{% if (not movement.parts.isEmpty) %}
				<tr>
					<td colspan="4"><h3>{{ 'app.fields.piece.parts'|trans }}
						{%- if is_granted('ROLE_DOWNLOAD') -%}<small class="pull-right"><input type="checkbox" id="CheckAll{{ movement.id }}" class="check-all" data-target=".check-all-{{ movement.id }}" /> <label for="CheckAll{{ movement.id }}">{{ 'global.action.check_all'|trans }}</label> <button type="submit" class="btn btn-sm btn-info" title="{{ 'app.file.download_selected'|trans }}"><i class="fas fa-download"></i></button></small>{% endif %}</h3></td>
				</tr>
				<tr>
					{% for order, part in movement.parts %}
					<td>{% if part.file and is_granted('ROLE_DOWNLOAD') %}<input type="checkbox" name="ids[]" value="{{ part.id }}" id="Part{{ part.id }}" class="check-all-{{ movement.id }}" data-parent="#CheckAll{{ movement.id }}" />
						<a href="{{ path('part_download', {'ids': [part.id]}) }}" class="btn btn-sm btn-outline-info" download="{{ piece.id ~ '-' ~ part.downloadName }}" title="{{ 'app.file.download'|trans }}"><i class="fas fa-floppy-o"></i></a>
						{%- endif %}
						<label for="Part{{ part.id }}">{{ part }}</label>
					</td>
						{% if (not loop.first and loop.index is divisible by(4)) %}
				</tr>
				<tr>
						{% endif %}
					{% endfor %}
					{% if (movement.parts|length is not divisible by(4)) %}
					<td colspan="{{ 4 - (movement.parts|length % 4) }}"></td>
					{% endif %}
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</form>

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('piece_index') }}" class="btn btn-light"><i class="fas fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.list'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('piece_edit', {'id': piece.id}) }}" class="btn btn-warning"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.edit'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fas fa-trash" title="{{ 'global.action.delete'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.delete'|trans }}</span></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('js/check_all.js') }}"></script>
{% endblock %}
