{% extends 'base.html.twig' %}

{% block title %}{{ 'app.piece.suisa.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.piece.suisa.heading'|trans }}</h1>

	<form class="table-responsive">
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th><input type="date" name="start" class="form-control" value="{{ start|date('Y-m-d') }}" /></th>
					<th><input type="date" name="end" class="form-control" value="{{ end|date('Y-m-d') }}" /></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th class="text-center"><button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-eye" title="{{ 'global.action.show'|trans }}"></i><span class="sr-only">{{ 'global.action.show'|trans }}</span></button>
						<a href="{{ path('piece_suisa') }}" class="btn btn-sm btn-light"><i class="fas fa-refresh" title="{{ 'global.action.reset'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.reset'|trans }}</span></a></th>
				</tr>
				<tr>
					<th>{{ 'app.fields.piece.name'|trans }}
						({{ 'app.fields.piece.translation'|trans }})</th>
					<th>{{ 'app.fields.piece.composers'|trans }}</th>
					<th>{{ 'app.fields.piece.arrangers'|trans }}</th>
					<th>{{ 'app.fields.piece.publisher'|trans }}<br />
						({{ 'app.fields.piece.year'|trans }})</th>
					<th><i class="fas fa-sort-asc"></i> {{ 'app.piece.suisa.first_played'|trans }}</th>
					<th>{{ 'app.piece.suisa.number_played'|trans }}</th>
					<th></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>{{ 'app.fields.piece.name'|trans }}
						({{ 'app.fields.piece.translation'|trans }})</th>
					<th>{{ 'app.fields.piece.composers'|trans }}</th>
					<th>{{ 'app.fields.piece.arrangers'|trans }}</th>
					<th>{{ 'app.fields.piece.publisher'|trans }}<br />
						({{ 'app.fields.piece.year'|trans }})</th>
					<th>{{ 'app.piece.suisa.first_played'|trans }}</th>
					<th>{{ 'app.piece.suisa.number_played'|trans }}</th>
					<th></th>
				</tr>
			</tfoot>
			<tbody>
			{% for piece in pieces %}
				<tr>
					<td><a href="{{ path('piece_show', {'id': piece[0].id}) }}">{{ piece[0].name }}</a>
						{%- if piece[0].translation %}<br />
						({{ piece[0].translation }})
						{%- endif -%}
						</td>
					<td>{{ piece[0].composers|join(', ') }}</td>
					<td>{{ piece[0].arrangers|join(', ') }}</td>
					<td>{{ piece[0].publisher }}{% if piece[0].year %} ({{ piece[0].year }}){% endif %}</td>
					<td{% if not piece[0].concerts.isEmpty %} title="{{ piece[0].concerts.first.date|date('Y-m-d') }}">
							{{- piece[0].concerts.first.date|date('Y-m-d') }}
							{%- else -%}>
							<i>{{ 'app.piece.index.last_played.unknown'|trans }}</i>
							{%- endif %}</td>
					<td>{{ piece[1] }}</td>
					<td class="text-center">
						<a href="{{ path('piece_show', {'id': piece[0].id}) }}" class="btn btn-sm btn-outline-info"><i class="fas fa-eye" title="{{ 'global.action.show'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.show'|trans }}</span></a>
						<a href="{{ path('piece_edit', {'id': piece[0].id}) }}" class="btn btn-sm btn-outline-warning"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.edit'|trans }}" class="btn btn-warning</span><span class="sr-only">{{ 'global.action.edit'|trans }}</span></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
{% endblock %}
