{% extends 'base.html.twig' %}

{% block title %}{{ type.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ type.name }}</h1>

	{{ form_start(edit_form) }}
		{{ form_widget(edit_form) }}
		<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
	{{ form_end(edit_form) }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('type_index') }}" class="btn btn-light"><i class="fas fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.list'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fas fa-trash" title="{{ 'global.action.delete'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.delete'|trans }}</span></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}