{% extends 'base.html.twig' %}

{% block title %}{{ 'app.lending.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/select2.min.css') }}" />
{% endblock %}

{% block body %}
	<h1>{{ 'app.lending.new.heading'|trans }}</h1>
	
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary float-left"><i class="fa fa-check"></i></button>
	{{ form_end(form) }}
	<a href="{{ path('lending_index') }}" class="btn btn-light float-right"><i class="fa fa-list"></i></a>
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('js/entity_adder.js') }}"></script>
		<script src="{{ asset('js/collection_adder.js') }}"></script>
		<script src="{{ asset('js/select2.min.js') }}"></script>
		<script src="{{ asset('js/ajaxify.js') }}"></script>
		<script>/*<[CDATA[*/
		$(document).ready( function() {
			$('select').select2();
		});
		/*]]>*/
		</script>
{% endblock %}