{% extends 'base.html.twig' %}

{% block title %}{{ 'app.publisher.index.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.publisher.index.heading'|trans }}</h1>

	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th>{{ 'app.fields.publisher.name'|trans }}</th>
				<th>{{ 'app.fields.publisher.note'|trans }}</th>
				<th class="text-center"><a href="{{ path('publisher_new') }}" class="btn btn-sm btn-success"><i class="fas fa-plus" title="{{ 'global.action.new'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.new'|trans }}</span></a></th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
		{% for publisher in publishers %}
			<tr>
				<td>{{ publisher.name }}</td>
				<td>{{ publisher.note }}</td>
				<td class="text-center">
					<a href="{{ path('publisher_edit', {'id': publisher.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.edit'|trans }}</span></a>
					<form action="{{ path('publisher_delete', {'id': publisher.id}) }}" method="post">
						<input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}" />
						<input type="hidden" name="_method" value="DELETE" />
						<button type="submit" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i></button>
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
