{% extends 'base.html.twig' %}

{% block body %}
	<h1>Status</h1>

	<table>
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ status.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ status.name }}</td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li>
			<a href="{{ path('status_index') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i></a>
		</li>
		<li>
			<a href="{{ path('status_edit', { 'id': status.id }) }}" class="btn btn-sm btn-danger">><i class="fa fa-pencil"></i></a>
		</li>
		<li>
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
