{% extends 'base.html.twig' %}

{% block title %}{{ piece.name }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" />
{% endblock %}

{% block body %}
	<h1>{{ piece.name }}
		{%- if piece.translation %}<br /><small>{{ piece.translation }}</small>{% endif %}</h1>

	{{ form_start(master_form) }}
	<table class="table">
		<thead>
			<tr>
				<th>{{ 'ysoft.instrum.piece.duplicates.duplicate'|trans }}</th>
				<th class="text-center"><i class="fa fa-arrow-right"></i></th>
				<th>{{ 'ysoft.instrum.piece.duplicates.master'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>{{ duplicate_form.vars.data.id }}</th>
				<td class="text-center"><a href="{{ path('piece_duplicates', {'master': duplicate_form.vars.data.id, 'duplicate': master_form.vars.data.id}) }}" class="btn btn-info"><i class="fa fa-arrows-h fa-2x"></i></a></td>
				<th>{{ master_form.vars.data.id }}</th>
			</tr>
			{% for field in duplicate_form if field.vars.block_prefixes[1] != 'hidden' -%}
			<tr data-name="{{ field.vars.full_name }}">
				<td class="duplicate">{{ form_row(field, {'attr': {'disabled': 'disabled'}, 'options': {'attr': {'disabled': 'disabled'}}}) }}</td>
				<td class="text-center">
					{% if field.vars.multiple is defined and field.vars.multiple or field.vars.compound -%}
					<button type="button" class="btn btn-sm btn-outline-warning action merge{% if field.vars.compound %} compound{% endif %}"><i class="fa fa-compress"></i></button>
					{% endif -%}
					<button type="button" class="btn btn-sm btn-outline-info action overwrite"><i class="fa fa-files-o"></i></button>
				</td>
				<td class="master">{{ form_row(master_form[field.vars.name]) }}</td>
			</tr>
			{% endfor -%}
		</tbody>
	</table>
	<button type="submit" class="btn btn-primary float-left"><i class="fa fa-check"></i></button>
	{{ form_end(master_form) }}

	<ul class="list-inline float-right">
		<li class="list-inline-item">
			<a href="{{ path('piece_index') }}" class="btn btn-light"><i class="fa fa-list"></i></a>
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
		<script src="{{ asset('js/entity_adder.js') }}"></script>
		<script src="{{ asset('js/collection_adder.js') }}"></script>
		<script src="{{ asset('js/ajaxify.js') }}"></script>
		<script>/*<[CDATA[*/
		$(document).ready( function() {
			$('select').select2();
		});
		$('.action').click( function() {
			var $row = $(this).closest('tr');
			var value = $row.find('.duplicate :input').prop('disabled', false).serializeArray();
			var elementSize = 1;
			$row.find('.duplicate :input').prop('disabled', true);
			if ($(this).is('.merge')) {
				var masterValues = $row.find('.master :input').serializeArray();
				var diff = $(value).not(masterValues).get();
				if ($(this).is('.compound')) {
					for (var i = 0; i < diff.length; i++) {
						$row.find('.master .adder').click();
					}
					elementSize = $($row.find('.master [data-prototype]').data('prototype')).find(':input:not(button)').length;
				}
				value = masterValues.concat(diff);
				if (!$(this).is('.compound')) {
					value = [{
						"name": value[0].name,
						"value": value.map(function(e) {
							return e.value;
						})
					}];
				}
			}
			$.each(value, function(i, e) {
				e.name = e.name.replace(/\d(?=\](\[[\w\[\]]+\])*)/, Math.floor(i / elementSize));
				$row.find('.master [name="' + e.name + '"]').val(e.value).change();
			});
		});
		/*]]>*/
		</script>
{% endblock %}