{% extends 'base.html.twig' %}

{% block title %}{{ piece.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ piece.name }}
		{%- if piece.translation %}<br /><small>{{ piece.translation }}</small>{% endif %}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>{{ 'ysoft.instrum.fields.id'|trans }}</th>
				<td>{{ piece.id }}</td>
				<th>{{ 'ysoft.instrum.fields.piece.last_played'|trans }}</th>
				<td>{% if not piece.concerts.isEmpty -%}
					<a href="{{ path('concert_show', {'id': piece.concerts.first.id}) }}">{{ piece.concerts.first.name }}</a> ({{ piece.concerts.first.date|date('Y-m-d') }})
					{%- else -%}
					<i>{{ 'ysoft.instrum.piece.show.last_played.unknown'|trans }}</i>
					{%- endif -%}
				</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.composers'|trans }}</th>
				<td colspan="3">{{ piece.composers|join(', ') }}</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.arrangers'|trans }}</th>
				<td colspan="3">{{ piece.arrangers|join(', ') }}</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.publisher'|trans }} ({{ 'ysoft.instrum.fields.piece.year'|trans }})</th>
				<td>{{ piece.publisher }}{% if piece.year %} ({{ piece.year }}){% endif %}</td>
				<th>{{ 'ysoft.instrum.fields.piece.reference'|trans }}</th>
				<td>{{ piece.reference }}</td>
			</tr>
			</tr>
				<th>{{ 'ysoft.instrum.fields.piece.instrumentation'|trans }}</th>
				<td{%- if piece.instrumentation %} title="{{ piece.instrumentation.note }}">
					{{ piece.instrumentation.name }}
					{%- else -%}>
					{%- endif -%}
				</td>
				<th>{{ 'ysoft.instrum.fields.piece.status'|trans }}</th>
				<td>{{ piece.status }}
					{%- if piece.status in ['returned', 'lent'] %}
					{{ piece.lendings.first }}
					{%- endif %}
					{%- if not piece.missings.empty %}
					({% for missing in piece.missings -%}
					<span class="text-danger">{{ missing.voice }}</span>{% if not loop.last %}, {% endif -%}
					{% endfor -%}
					{% if not piece.lendings.empty and piece.lendings.first.ours %}
					— {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('lending_show', { 'id': piece.lendings.first.id }) }}">{% endif %}
						{{- ('ysoft.instrum.lending.ours.' ~ (piece.lendings.first.ours ? 'to' : 'by'))|trans ~ ' ' ~ piece.lendings.first.band }}
					{%- if is_granted('ROLE_ADMIN') %}</a>{% endif %}
					{%- endif %})
					{%- endif %}
				</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.note'|trans }}</th>
				<td colspan="3">{{ piece.note|nl2br }}</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.created_at'|trans }}</th>
				<td colspan="3">{{ piece.createdAt|date('Y-m-d à H:i:s') }}</td>
			</tr>
			{% if (not piece.parts.isEmpty and is_granted('ROLE_USER')) %}
			<tr>
				<td colspan="4"><h3>{{ 'ysoft.instrum.fields.piece.parts'|trans }}</h3>
			</tr>
			<tr>
				{% for order, part in piece.parts %}
				<td>{% if part.file %}<a href="{{ path('y_soft_instrum_part_download', {'id': part.id}) }}" download="{{ piece.id ~ '-' ~ order ~ ' - ' ~ part.downloadName }}" title="{{ 'ysoft.instrum.file.download'|trans }}">{% endif %}
					{{ part }}
					{%- if part.file %}</a>{% endif -%}
				</td>
					{% if (not loop.first and loop.index is divisible by(4)) %}
			</tr>
			<tr>
					{% endif %}
				{% endfor %}
				{% if (piece.parts|length is not divisible by(4)) %}
				<td colspan="{{ 4 - (piece.parts|length % 4) }}"></td>
				{% endif %}
			</tr>
			{% endif %}
			{% for i, movement in piece.movements %}
			<tr>
				<th colspan="4"><h2>{{ movement.name }}
					{%- if movement.translation %}<br /><small>{{ movement.translation }}</small>{% endif %}</h2></th>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.id'|trans }}</th>
				<td>{{ movement.id }}</td>
				<th>{{ 'ysoft.instrum.fields.piece.last_played'|trans }}</th>
				<td>{% if not movement.concerts.isEmpty -%}
					<a href="{{ path('concert_show', {'id': movement.concerts.first.id}) }}">{{ movement.concerts.first.name }}</a> ({{ movement.concerts.first.date|date('Y-m-d') }})
					{%- else -%}
					<i>{{ 'ysoft.instrum.piece.show.last_played.unknown'|trans }}</i>
					{%- endif -%}
				</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.composers'|trans }}</th>
				<td colspan="3">{{ movement.composers|join(', ') }}</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.arrangers'|trans }}</th>
				<td colspan="3">{{ movement.arrangers|join(', ') }}</td>
			</tr>
			</tr>
				<th>{{ 'ysoft.instrum.fields.piece.status'|trans }}</th>
				<td colspan="3">{{ movement.status }}
					{%- if movement.status in ['returned', 'lent'] %}
					{{ movement.lendings.first }}
					{%- endif %}
					{%- if not movement.missings.empty %}
					({% for missing in movement.missings -%}
					<span class="text-danger">{{ missing.voice }}</span>{% if not loop.last %}, {% endif -%}
					{% endfor -%}
					{% if not movement.lendings.empty and movement.lendings.first.ours %}
					— {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('lending_show', { 'id': movement.lendings.first.id }) }}">{% endif %}
						{{- ('ysoft.instrum.lending.ours.' ~ (movement.lendings.first.ours ? 'to' : 'by'))|trans ~ ' ' ~ movement.lendings.first.band }}
					{%- if is_granted('ROLE_ADMIN') %}</a>{% endif %}
					{%- endif %})
					{%- endif %}
				</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.note'|trans }}</th>
				<td colspan="3">{{ movement.note|nl2br }}</td>
			</tr>
			{% if (not movement.parts.isEmpty and is_granted('ROLE_USER')) %}
			<tr>
				<td colspan="4"><h3>{{ 'ysoft.instrum.fields.piece.parts'|trans }}</h3></td>	
			</tr>
			<tr>
				{% for order, part in movement.parts %}
				<td>{% if part.file %}<a href="{{ path('y_soft_instrum_part_download', {'id': part.id}) }}" download="{{ piece.id ~ '-' ~ order ~ ' - ' ~ part.downloadName }}" title="{{ 'ysoft.instrum.file.download'|trans }}">{% endif %}
					{{ part }}
					{%- if part.file %}</a>{% endif -%}
				</td>
					{% if (not loop.first and loop.index is divisible by(4)) %}
			</tr>
			<tr>
					{% endif %}
				{% endfor %}
				{% if (movement.parts|length is not divisible by(4)) %}
				<td colspan="{{ 4 - (movement.parts|length % 4) }}"></td>
				{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<ul class="list-inline float-right">
		<li class="list-inline-item">
			<a href="{{ path('piece_index') }}" class="btn btn-light"><i class="fa fa-list"></i></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('piece_edit', { 'id': piece.id }) }}" class="btn btn-warning" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
