{% extends 'base.html.twig' %}

{% block title %}{{ piece.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ piece.name }}
		{%- if piece.translation %}<br /><small>{{ piece.translation }}</small>{% endif %}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.composers'|trans }}</th>
				<td colspan="3">{{ piece.composers|join(', ') }}</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.arrangers'|trans }}</th>
				<td colspan="3">{{ piece.arrangers|join(', ') }}</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.publisher'|trans }}</th>
				<td>{{ piece.publisher }}</td>
				<th>{{ 'ysoft.instrum.fields.piece.instrumentation'|trans }}</th>
				<td>
				    {%- if piece.instrumentation -%}
				    {{ piece.instrumentation.name }} ({{ piece.instrumentation.note }})
				    {%- endif -%}
			    </td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.year'|trans }}</th>
				<td>{{ piece.year }}</td>
				<th>{{ 'ysoft.instrum.fields.piece.reference'|trans }}</th>
				<td>{{ piece.reference }}</td>
			</tr>
			</tr>
				<th>{{ 'ysoft.instrum.fields.id'|trans }}</th>
				<td>{{ piece.id }}</td>
				<th>{{ 'ysoft.instrum.fields.piece.created_at'|trans }}</th>
				<td>{{ piece.createdAt|date('Y-m-d H:i:s') }}</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.status'|trans }}</th>
				<td colspan="3">{{ piece.status }}
					{%- if not piece.missings.empty %}
					({% for missing in piece.missings -%}
					<span class="text-danger">{{ missing.voice }}</span>{% if not loop.last %}, {% endif -%}
					{% endfor -%})
					{%- endif %}
				</td>
			</tr>
			<tr>
				<th>{{ 'ysoft.instrum.fields.piece.note'|trans }}</th>
				<td colspan="3">{{ piece.note|nl2br }}</td>
			</tr>
		</tbody>
	</table>

	<ul class="list-inline float-right">
		<li class="list-inline-item">
			<a href="{{ path('piece_index') }}" class="btn btn-secondary"><i class="fa fa-list"></i></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('piece_edit', { 'id': piece.id }) }}" class="btn btn-warning" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
