<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-faded">
	<a class="navbar-brand" href="{{ path('piece_index') }}">{{ 'global.site_name'|trans }}</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#Menu">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="Menu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown{% if 'concert' in app.request.get('_route') %} active{% endif %}">
				<a class="nav-link dropdown-toggle" href="#" id="Concerts" role="button" data-toggle="dropdown" aria-haspopup=true" aria-expanded="false">{{ 'ysoft.menu.concerts.heading'|trans }}</a>
				<div class="dropdown-menu" aria-labelledby="Concerts">
					<a class="dropdown-item{% if 'concert' in app.request.get('_route') %} active{% endif %}" href="{{ path('concert_index') }}">{{ 'ysoft.menu.concerts.list'|trans }}</a>
					<a class="dropdown-item{% if 'program' in app.request.get('_route') %} active{% endif %}" href="{{ path('program_index') }}">{{ 'ysoft.menu.programs'|trans }}</a>
				</div>
			</li>
			<li class="nav-item dropdown{% if 'piece' in app.request.get('_route') %} active{% endif %}">
				<a class="nav-link dropdown-toggle" href="#" id="Pieces" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'ysoft.menu.partitions.heading'|trans }}</a>
				<div class="dropdown-menu" aria-labelledby="Pieces">
					<a class="dropdown-item{% if 'piece_index' == app.request.get('_route') %} active{% endif %}" href="{{ path('piece_index') }}">{{ 'ysoft.menu.partitions.list'|trans }}</a>
					<a class="dropdown-item{% if 'person' in app.request.get('_route') %} active{% endif %}" href="{{ path('person_index') }}">{{ 'ysoft.menu.people'|trans }}</a>
					<a class="dropdown-item{% if 'missing' in app.request.get('_route') %} active{% endif %}" href="{{ path('missing_index') }}">{{ 'ysoft.menu.missings'|trans }}</a>
					{% if is_granted('ROLE_USER') -%}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if 'suisa' in app.request.get('_route') %} active{% endif %}" href="{{ path('program_index') }}">{{ 'ysoft.menu.suisa'|trans }}</a>
					<a class="dropdown-item{% if 'publisher' in app.request.get('_route') %} active{% endif %}" href="{{ path('publisher_index') }}">{{ 'ysoft.menu.publishers'|trans }}</a>
					{% endif -%}
					{% if is_granted('ROLE_ADMIN') -%}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item{% if 'instrumentation' in app.request.get('_route') %} active{% endif %}" href="{{ path('instrumentation_index') }}">{{ 'ysoft.menu.instrumentations'|trans }}</a>
					<a class="dropdown-item{% if 'status' in app.request.get('_route') %} active{% endif %}" href="{{ path('status_index') }}">{{ 'ysoft.menu.statuses'|trans }}</a>
					<a class="dropdown-item{% if 'type' in app.request.get('_route') %} active{% endif %}" href="{{ path('type_index') }}">{{ 'ysoft.menu.types'|trans }}</a>
					<a class="dropdown-item{% if 'size' in app.request.get('_route') %} active{% endif %}" href="{{ path('size_index') }}">{{ 'ysoft.menu.sizes'|trans }}</a>
					{% endif %}
				</div>
			</li>
			{% if is_granted('ROLE_ADMIN') -%}
			<li class="nav-item dropdown{% if 'lending' in app.request.get('_route') %} active{% endif %}">
				<a class="nav-link dropdown-toggle" href="#" id="Lendings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'ysoft.menu.lendings.heading'|trans }}</a>
				<div class="dropdown-menu" aria-labelledby="Lendings">
					<a class="dropdown-item{% if 'lending' in app.request.get('_route') %} active{% endif %}" href="{{ path('lending_index') }}">{{ 'ysoft.menu.lendings.list'|trans }}</a>
					<a class="dropdown-item{% if 'band' in app.request.get('_route') %} active{% endif %}" href="{{ path('band_index') }}">{{ 'ysoft.menu.bands'|trans }}</a>
				</div>
			</li>
			{% endif %}
		</ul>
		{%- if is_granted('ROLE_USER') %}
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="{{ path('y_soft_logout') }}" class="nav-link"><i class="fa fa-power-off text-danger"></i> {{ 'ysoft.menu.logout'|trans }}</a>
			</li>
		</ul>
		{% endif -%}
	</div>
</nav>