{% extends 'base.html.twig' %}

{% block title %}{{ band }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ band }}</h1>

	<table class="table table-sm">
		<tbody>
			<tr>
				<th colspan="3">{{ 'app.fields.band.lendings'|trans }}</th>
			</tr>
			{% for lending in band.lendings -%}
			<tr>
				<td><a href="{{ path('lending_show', {'id': lending.id}) }}">{{ ('app.lending.ours.' ~ (lending.ours ? 'to' : 'by'))|trans ~ ' ' ~ lending.band }}</a>
					({{ lending.contact }})</td>
				<td>{{ lending.start|date('Y-m-d') }}</td>
				<td>{% if lending.end %}{{ lending.end|date('Y-m-d') }}{% else %}{{ 'app.lending.index.not_ended'|trans }}{% endif %}</a></td>
			</tr>
			{% endfor -%}
		</tbody>
	</table>

	<ul class="list-inline float-right">
		<li class="list-inline-item">
			<a href="{{ path('band_index') }}" class="btn btn-light"><i class="fa fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.edit'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('band_edit', {'id': band.id}) }}" class="btn btn-warning"><i class="fa fa-pencil" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.edit'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash" title="{{ 'global.action.delete'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.delete'|trans }}</span></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
