{% extends 'base.html.twig' %}

{% block title %}{{ 'app.program.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ assets_host }}/select2/4.0.13/css/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ assets_host }}/select2-bootstrap-5-theme/1.3.0/select2-bootstrap-5-theme.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
	<h1>{{ 'app.program.new.heading'|trans }}</h1>

	{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
	{{ form_end(form) }}

	<a href="{{ path('program_index') }}" class="btn btn-light float-end"><i class="fas fa-list"></i></a>
{% endblock %}

{% block javascripts %}
		<script src="{{ assets_host }}/select2/4.0.13/js/select2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>/*<[CDATA[*/
		$(function() {
			$('select.searchable').select2({
				theme: "bootstrap-5"
			});
		});
		/*]]>*/
		</script>
{% endblock %}