{% extends 'base.html.twig' %}

{% block title %}{{ 'app.program.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
	<h1>{{ 'app.program.new.heading'|trans }}</h1>

	{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fa fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
	{{ form_end(form) }}

	<a href="{{ path('program_index') }}" class="btn btn-light float-end"><i class="fa fa-list"></i></a>
{% endblock %}

{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>/*<[CDATA[*/
		$(function() {
			$('select[multiple]').select2();
		});
		/*]]>*/
		</script>
{% endblock %}