{% extends 'base.html.twig' %}

{% block title %}{{ 'ysoft.instrum.band.index.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'ysoft.instrum.band.index.heading'|trans }}</h1>

	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th>{{ 'ysoft.instrum.fields.band.name'|trans }}</th>
				<th><a href="{{ path('band_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i></a></th>
			</tr>
		</thead>
		<tbody>
		{% for band in bands %}
			<tr>
				<td>{{ band.name }}</td>
				<td><a href="{{ path('band_edit', { 'id': band.id }) }}" class="btn btn-sm btn-outline-warning"><i class="fa fa-pencil"</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
