{% extends 'base.html.twig' %}

{% block title %}{{ concert.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ concert.name }}</h1>

	<table class="table table-sm">
		<tbody>
			<tr>
				<th>{{ 'app.fields.concert.date'|trans }}</th>
				<td>{{ concert.date|date('Y-m-d à H:i') }}</td>
			</tr>
			<tr>
				<th colspan="2">{{ 'app.fields.concert.pieces'|trans }}</th>
			</tr>
			{%- if is_granted('ROLE_USER') or (concert.date < date('now + 5 days')) %}
			{% for piece in concert.pieces -%}
			<tr>
				<td><a href="{{ path('piece_show', {'id': piece.id}) }}">{{ piece.name }}</a></td>
				<td class="text-end">{{ piece.composers|join(', ') }}{% if piece.arrangers.count %}<br />
					<i>{{ 'app.concert.show.arrangers.short'|trans({'arrangers': piece.arrangers.count}) }} {{ piece.arrangers|join(', ') }}</i>{% endif %}</td>
			</tr>
			{% endfor -%}
			{% else -%}
			<tr>
				<td colspan="2" class="table-info text-info">{{ 'app.concert.show.too_early'|trans }}</td>
			</tr>
			{% endif -%}
		</tbody>
	</table>

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('concert_index') }}" class="btn btn-light"><i class="fas fa-list" title="{{ 'global.action.list'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.list'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('concert_edit', {'id': concert.id}) }}" title="{{ 'global.action.edit'|trans }}" class="btn btn-warning"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.edit'|trans }}</span></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fas fa-trash" title="{{ 'global.action.delete'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.delete'|trans }}</span></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
