{% extends 'base.html.twig' %}

{% block title %}{{ 'app.instrumentation.index.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.instrumentation.index.heading'|trans }}</h1>

	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th>{{ 'app.fields.instrumentation.name'|trans }}</th>
				<th>{{ 'app.fields.instrumentation.note'|trans }}</th>
				<th><a href="{{ path('instrumentation_new') }}" class="btn btn-sm btn-success"><i class="fas fa-plus" title="{{ 'global.action.new'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.new'|trans }}</span></a></th>
			</tr>
		</thead>
		<tbody>
		{% for instrumentation in instrumentations %}
			<tr>
				<td>{{ instrumentation.name }}</td>
				<td>{{ instrumentation.note }}</td>
				<td>
					<a href="{{ path('instrumentation_edit', {'id': instrumentation.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fas fa-pencil-alt" title="{{ 'global.action.edit'|trans }}" aria-hidden="true"></i><span class="visually-hidden">{{ 'global.action.edit'|trans }}</span></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}