{% extends 'base.html.twig' %}

{% block title %}{{ 'app.missing.index.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.missing.index.heading'|trans }}</h1>

	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th>{{ 'app.fields.missing.piece'|trans }}</th>
				<th>{{ 'app.fields.missing.voice'|trans }}</th>
				<th>{{ 'app.fields.missing.created_at'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for missing in missings %}
			<tr>
				<td><a href="{{ path('piece_show', {'id': missing.piece.id}) }}">{{ missing.piece.name }}</a></td>
				<td>{{ missing.voice }}</td>
				<td>{{ missing.createdAt|date('Y-m-d H:i:s') }}</td>
				<td>
					<form action="{{ path('missing_delete', {'id': missing.id}) }}" method="post">
						<input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}" />
						<input type="hidden" name="_method" value="DELETE" />
						<button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" title="{{ 'global.action.delete'|trans }}" aria-hidden="true"></i><span class="sr-only">{{ 'global.action.delete'|trans }}</span></button>
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}