{% extends 'base.html.twig' %}

{% block title %}{{ concert.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ concert.name }}</h1>

	<table class="table table-sm">
		<tbody>
			<tr>
				<th>{{ 'ysoft.instrum.fields.concert.date'|trans }}</th>
				<td>{{ concert.date|date('Y-m-d à H:i') }}</td>
			</tr>
			<tr>
				<th colspan="2">{{ 'ysoft.instrum.fields.concert.pieces'|trans }}</th>
			</tr>
			{%- if is_granted('ROLE_USER') or (concert.date < date('now + 5 days')) %}
			{% for piece in concert.pieces -%}
			<tr>
				<td><a href="{{ path('piece_show', {'id': piece.id}) }}">{{ piece.name }}</a></td>
				<td class="text-right">{{ piece.composers|join(', ') }}{% if piece.arrangers.count %}<br />
					<i>{{ 'ysoft.instrum.concert.show.arrangers.short'|transchoice(piece.arrangers.count) }} {{ piece.arrangers|join(', ') }}</i>{% endif %}</td>
			</tr>
			{% endfor -%}
			{% else -%}
			<tr>
				<td colspan="2" class="table-info text-info">{{ 'ysoft.instrum.concert.show.too_early'|trans }}</td>
			</tr>
			{% endif -%}
		</tbody>
	</table>

	<ul class="list-inline float-right">
		<li class="list-inline-item">
			<a href="{{ path('concert_index') }}" class="btn btn-light"><i class="fa fa-list"></i></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('concert_edit', { 'id': concert.id }) }}" class="btn btn-warning" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
