{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ concert.name }}</h1>

    <table class="table table-sm">
        <tbody>
            <tr>
                <th>{{ 'ysoft.instrum.fields.concert.date'|trans }}</th>
                <td>{{ concert.date|date('Y-m-d à H:i') }}</td>
            </tr>
            <tr>
                <th colspan="2">{{ 'ysoft.instrum.fields.concert.pieces'|trans }}</th>
            </tr>
            {% for piece in concert.pieces -%}
            <tr>
                <td colspan="2">{{ piece.name }}</td>
            </tr>
            {% endfor -%}
        </tbody>
    </table>

    <ul class="list-inline float-right">
		<li class="list-inline-item">
			<a href="{{ path('concert_index') }}" class="btn btn-secondary"><i class="fa fa-list"></i></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('concert_edit', { 'id': concert.id }) }}" class="btn btn-warning" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
