{% extends app.request.xmlHttpRequest ? 'base_ajax.html.twig' : 'base.html.twig' %}

{% block title %}{{ 'app.person.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	{% if app.request.xmlHttpRequest %}
	<div class="modal-header">
		<h2 class="modal-title">{{ 'app.person.new.heading'|trans }}</h2>
		<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'global.action.close' }}">
		  <span aria-hidden="true">×</span>
		</button>
	</div>
	<div class="modal-body">
	{% else %}
	<h1>{{ 'app.person.new.heading'|trans }}</h1>
	{% endif %}

	{{ form_start(form, {'attr': {'class': app.request.xmlHttpRequest ? 'ajaxify' : null}}) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary float-left"><i class="fa fa-check"></i></button>
	{{ form_end(form) }}
	{% if not app.request.isXmlHttpRequest() %}
	<a href="{{ path('person_index') }}" class="btn btn-light float-right"><i class="fa fa-list"></i></a>
	{% endif %}

	{% if app.request.isXmlHttpRequest() %}
	</div>
	{% endif %}
{% endblock %}
