{% block _piece_movements_widget %}
{% set attr = attr|merge({'class': 'row row-cols-1 row-cols-sm-2 row-cols-md-3'}) %}
{{ block('collection_widget') }}
{% endblock %}

{% block _piece_movements_entry_row %}
<div class="col">
{% set attr = attr|merge({'class': 'card card-body mb-3' ~ (disabled ? ' bg-danger text-white' : '')}) %}
{{ block('collection_widget') }}
</div>
{% endblock %}

{% block _piece_parts_widget %}
{% set attr = attr|merge({'class': 'row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-3 dropzone', 'data-upload-uri': path('ajax_upload', {'target': id})}) %}
{{ block('collection_widget') }}
{% endblock %}

{% block _piece_parts_entry_row %}
<div class="col">
{% set attr = attr|merge({'class': 'card card-body mb-4 dropzone' ~ (disabled ? ' bg-danger text-white' : '')}) %}
{{ block('collection_widget') }}
</div>
{% endblock %}

{% block _piece_missings_widget %}
{% set attr = attr|merge({'class': 'row row-cols-1 row-cols-sm-2 row-cols-md-3'}) %}
{{ block('collection_widget') }}
{% endblock %}

{% block _piece_missings_entry_row %}
<div class="col">
{% set attr = attr|merge({'class': 'card card-body mb-3' ~ (disabled ? ' bg-danger text-white' : '')}) %}
{{ block('collection_widget') }}
</div>
{% endblock %}

{% block file_widget %}
	{% apply spaceless %}

	<div class="input-group file-link" role="group">
		<div id="{{ id }}_filled" class="input-group-prepend input-group downloadable" style="{% if file_url is null %}display: none;{% endif %}">
			<a href="{{ path('part_download', {'id': part_id}) }}" download="{{ download_name }}" class="btn btn-info" title="{{ 'app.file.download'|trans }}"><i class="fa fa-floppy-o"></i></a>
			<button type="button" class="btn btn-danger cleaner" title="{{ 'app.file.delete'|trans }}" data-input-clean="[&quot;#{{ form.parent.vars.id }}_file&quot;]"><i class="fa fa-times"></i></button>
			<input type="text" value="{{ download_name }}" id="{{ id }}_static" class="form-control" title="{{ download_name }}" readonly="readonly" />
		</div>
		{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control downloadable')|trim, 'data-upload-uri': path('ajax_upload', {'target': form.parent.vars.id})}) %}
		{% if file_url is not null %}
			{%- set attr = attr|merge({'style': (attr.style|default('') ~ ' display: none;')|trim}) -%}
		{% endif %}
		{{ block('form_widget') }}
	</div>

	{% endapply %}
{% endblock %}

{# Errors #}

{% block form_errors -%}
	{% if errors|length > 0 -%}
	{% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
	<ul class="list-unstyled">
		{%- for error in errors -%}
			<li><span class="fa fa-sign"></span> {{ error.message }}</li>
		{%- endfor -%}
	</ul>
	{% if form.parent %}</span>{% else %}</div>{% endif %}
	{%- endif %}
{%- endblock form_errors %}