<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xml:lang="{{ app.request.locale}}">
	<head>
		<meta charset="UTF-8" />
		<title>{{ 'app.login.title'|trans }} | {{ 'global.site_name'|trans }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
	</head>
	<body>
		{{ include('menu.html.twig') }}
		<div class="container">
			<h1 class="text-center">{{ 'app.login.heading'|trans }}</h1>
			{% if error %}
				<div class="text-error text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<form method="post" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mx-auto text-center">
				<div class="mb-3 form-floating">
					<input type="text" name="_username" id="username" class="form-control" placeholder="{{ 'app.login.user'|trans }}" value="{{ lastUsername }}" />
					<label for="username">{{ 'app.login.user'|trans }}</label>
				</div>

				<div class="mb-3 form-floating">
					<input type="password" name="_password" id="password" class="form-control" placeholder="{{ 'app.login.password'|trans }}" />
					<label for="password">{{ 'app.login.password'|trans }}</label>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

				<button type="submit" class="btn btn-primary"><i class="fas fa-unlock" aria-hidden="true"></i></button>
			</form>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>