{% extends 'base.html.twig' %}

{% block title %}{{ 'app.size.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'app.size.new.heading'|trans }}</h1>

	{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" title="{{ 'global.action.validate'|trans }}" class="btn btn-primary float-start"><i class="fas fa-check" title="{{ 'global.action.validate'|trans }}" aria-hidden="true"></i></button>
	{{ form_end(form) }}

	<a href="{{ path('size_index') }}" class="btn btn-light float-end"><i class="fas fa-list"></i></a>
{% endblock %}