{% extends 'base.html.twig' %}

{% block title %}{{ 'ysoft.instrum.missing.index.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h1>{{ 'ysoft.instrum.missing.index.heading'|trans }}</h1>

	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>{{ 'ysoft.instrum.fields.missing.piece'|trans }}</th>
				<th>{{ 'ysoft.instrum.fields.missing.voice'|trans }}</th>
				<th>{{ 'ysoft.instrum.fields.missing.created_at'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for missing in missings %}
			<tr>
				<td><a href="{{ path('piece_show', {'id': missing.piece.id}) }}">{{ missing.piece.name }}</a></td>
				<td>{{ missing.voice }}</td>
				<td>{{ missing.createdAt|date('Y-m-d H:i:s') }}</td>
				<td>
					<form action="{{ path('missing_delete', {'id': missing.id}) }}" method="post">
						<input type="hidden" id="{{ missing.id }}" />
						<button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button>
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}